* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

#video-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: 300px;
  position: relative;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

:root {
  --footer-height: 70px;
  --size: 95px;
  --clr1: #198754;
  --clr2: #dc3545;
  --clr3: #ffc107;
}

video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

video.mirror {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.video-wrapper {
  position: relative;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.video-wrapper .share-screen {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.589);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-wrapper .share-screen .stop-btn {
  font-size: 1.25rem;
}

.video-wrapper p {
  z-index: 2;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 16px;
  background-color: rgba(0, 0, 0, 0.575);
  margin: 0.5rem;
  color: white;
  border-radius: 0.25rem;
}

.zoom-video {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: calc(100vh - var(--footer-height));
  background-color: #1a1a1a;
}

.zoom-video video {
  -o-object-fit: contain;
     object-fit: contain;
}

footer {
  height: var(--footer-height);
  background-color: #1a1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

footer .footer-btn {
  font-size: 1.5rem;
  background: none;
  border: none;
  outline: none;
  color: #d5d5d5;
  padding: 8px 16px;
  border-radius: 0.25rem;
  margin: 8px 4px;
  cursor: pointer;
}

footer .footer-btn:hover {
  border: none;
  outline: none;
  background-color: #2e2e2e;
}

footer .call {
  background-color: #a51f1f;
}

footer .call:hover {
  background-color: #de2828;
}

footer .connect {
  background-color: green;
}

footer .connect:hover {
  background-color: #049e04;
}

footer .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25rem;
}

footer .btn-group span {
  margin-right: 0.5rem;
  pointer-events: none;
}

footer .btn-group i {
  font-size: 1.65rem;
  pointer-events: none;
}

footer .right-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .right-wrapper .cameras {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  top: -60px;
  left: 0;
  margin: 0.5rem;
  background-color: white;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
}

footer .right-wrapper .active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.main-wrapper {
  position: relative;
  width: 100%;
  height: calc(100vh - var(--footer-height));
  overflow-y: auto;
  background-color: #353535;
}

.video-element-btn {
  background: none;
  border: none;
  outline: none;
  color: white;
  padding: 8px 16px;
  background-color: rgba(0, 0, 0, 0.575);
  border-radius: 0.25rem;
  margin: 8px;
  cursor: pointer;
  z-index: 2;
}

.video-element-btn:hover {
  border: none;
  outline: none;
}

.video-pinch-out-btn {
  position: absolute;
  margin: 0.5rem;
  top: 0;
  right: 0;
}

.video-minimize-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.none-pointer {
  pointer-events: none;
}

.share-wrapper {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  font-weight: 600;
  position: absolute;
  z-index: 4;
  top: -220px;
  left: 0;
  margin: 0.5rem;
  background-color: white;
  border-radius: 0.25rem;
  width: 500px;
}

.share-wrapper .share-wrapper-header {
  padding: 0.75rem;
  border-bottom: 1px solid lightgray;
  color: #00509d;
}

.share-wrapper .share-wrapper-header p {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.share-wrapper .share-wrapper-body {
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  color: #2e2e2e;
}

.share-wrapper .share-wrapper-body p + p {
  margin-top: 0.75rem;
}

.share-wrapper .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.share-wrapper .group i {
  font-size: 1.5rem;
}

.share-wrapper .group span {
  margin-left: 0.5rem;
}

.share-wrapper #copy {
  --tooltip: "copy";
  cursor: pointer;
  position: relative;
}

.share-wrapper #copy i {
  pointer-events: none;
}

.share-wrapper #copy span {
  pointer-events: none;
}

.share-wrapper #copy:before {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  position: absolute;
  content: var(--tooltip);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: #262626;
  top: -40px;
  color: white;
}

.share-wrapper #copy:hover:before {
  opacity: 1;
  visibility: visible;
}

.active .share-wrapper {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

@media (max-width: 620px) {
  :root {
    --footer-height: 175px;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .btn-group {
    font-size: 1rem;
  }
  footer .btn-group i {
    font-size: 1.25rem;
  }
  .share-wrapper {
    width: calc(100% - 1rem);
    left: calc(50% - 0.5rem);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin: 0 0.5rem;
  }
}

.card-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.816);
}

.card-loader {
  width: 100%;
  width: 500px;
  height: 250px;
  border-radius: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1.5rem;
}

.card-loader p {
  color: white;
}

.spinner {
  --animation-duration: 5000ms;
  position: relative;
  width: var(--size);
  height: var(--size);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.spinner .spinner-item {
  --item-size: calc(var(--size) / 2.5);
  position: absolute;
  width: var(--item-size);
  height: var(--item-size);
  border: 4px solid var(--clr-spinner);
}

.spinner .spinner-item:nth-child(1) {
  --clr-spinner: var(--clr1);
  top: 0;
  left: 0;
  -webkit-animation: spinner3A var(--animation-duration) linear infinite;
          animation: spinner3A var(--animation-duration) linear infinite;
}

@-webkit-keyframes spinner3A {
  0%,
  8.33%,
  16.66%,
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  24.99%,
  33.32%,
  41.65% {
    -webkit-transform: translate(100%, 0%);
            transform: translate(100%, 0%);
  }
  49.98%,
  58.31%,
  66.64% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
  }
  74.97%,
  83.30%,
  91.63% {
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
  }
}

@keyframes spinner3A {
  0%,
  8.33%,
  16.66%,
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  24.99%,
  33.32%,
  41.65% {
    -webkit-transform: translate(100%, 0%);
            transform: translate(100%, 0%);
  }
  49.98%,
  58.31%,
  66.64% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
  }
  74.97%,
  83.30%,
  91.63% {
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
  }
}

.spinner .spinner-item:nth-child(2) {
  --clr-spinner: var(--clr2);
  top: 0;
  left: var(--item-size);
  -webkit-animation: spinner3B var(--animation-duration) linear infinite;
          animation: spinner3B var(--animation-duration) linear infinite;
}

@-webkit-keyframes spinner3B {
  0%,
  8.33%,
  91.63%,
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  16.66%,
  24.99%,
  33.32% {
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
  }
  41.65%,
  49.98%,
  58.31% {
    -webkit-transform: translate(-100%, 100%);
            transform: translate(-100%, 100%);
  }
  66.64%,
  74.97%,
  83.30% {
    -webkit-transform: translate(-100%, 0%);
            transform: translate(-100%, 0%);
  }
}

@keyframes spinner3B {
  0%,
  8.33%,
  91.63%,
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  16.66%,
  24.99%,
  33.32% {
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
  }
  41.65%,
  49.98%,
  58.31% {
    -webkit-transform: translate(-100%, 100%);
            transform: translate(-100%, 100%);
  }
  66.64%,
  74.97%,
  83.30% {
    -webkit-transform: translate(-100%, 0%);
            transform: translate(-100%, 0%);
  }
}

.spinner .spinner-item:nth-child(3) {
  --clr-spinner: var(--clr3);
  top: var(--item-size);
  left: var(--item-size);
  -webkit-animation: spinner3C var(--animation-duration) linear infinite;
          animation: spinner3C var(--animation-duration) linear infinite;
}

@-webkit-keyframes spinner3C {
  0%,
  83.30%,
  91.63%,
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  8.33%,
  16.66%,
  24.99% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  33.32%,
  41.65%,
  49.98% {
    -webkit-transform: translate(-100%, -100%);
            transform: translate(-100%, -100%);
  }
  58.31%,
  66.64%,
  74.97% {
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
  }
}

@keyframes spinner3C {
  0%,
  83.30%,
  91.63%,
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  8.33%,
  16.66%,
  24.99% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  33.32%,
  41.65%,
  49.98% {
    -webkit-transform: translate(-100%, -100%);
            transform: translate(-100%, -100%);
  }
  58.31%,
  66.64%,
  74.97% {
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
  }
}

.tooltip {
  position: relative;
}

.tooltip::before {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  content: attr(tool_tip);
  display: inline;
  white-space: nowrap;
  position: absolute;
  top: -60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: brown;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.tooltip:hover::before {
  opacity: 1;
  visibility: visible;
}
/*# sourceMappingURL=style.css.map */