<div class="container py-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Meeting
                </div>
                <div class="card-body">
                    <form action="/join-room" method="POST">
                        <div class="col-auto">
                            <label class="visually-hidden" for="autoSizingInputGroup">Username</label>
                            <div class="input-group">
                                <div class="input-group-text">
                                    <ion-icon name="person-outline"></ion-icon>
                                </div>
                                <input type="text" class="form-control" id="autoSizingInputGroup"
                                    placeholder="Username">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Enter your Room Id</label>
                            <input required name="room_id" class="form-control" placeholder="Room Id">
                            <div class="form-text">You have to enter the room id to enter a specific room.
                            </div>
                        </div>
                        <button style="width: 100%;" type="submit" class="btn btn-primary mb-3">Join</button>
                    </form>
                    <form action="/create-room" method="POST">
                        <button style="width: 100%;" type="submit" class="btn btn-success mb-3">Create room</button>
                    </form>
                    <a style="width: 100%;" type="submit" class="btn btn-danger">Log Out</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Meeting
                </div>
                <div class="card-body">
                    <form action="/join-room" method="POST">
                        <div class="col-auto">
                            <label class="visually-hidden" for="autoSizingInputGroup">Username</label>
                            <div class="input-group">
                                <div class="input-group-text">
                                    <ion-icon name="person-outline"></ion-icon>
                                </div>
                                <input type="text" class="form-control" id="autoSizingInputGroup"
                                    placeholder="Username">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Enter your Room Id</label>
                            <input required name="room_id" class="form-control" placeholder="Room Id">
                            <div class="form-text">You have to enter the room id to enter a specific room.
                            </div>
                        </div>
                        <button style="width: 100%;" type="submit" class="btn btn-primary mb-3">Join</button>
                    </form>
                    <form action="/create-room" method="POST">
                        <button style="width: 100%;" type="submit" class="btn btn-success mb-3">Create room</button>
                    </form>
                    <a style="width: 100%;" type="submit" class="btn btn-danger">Log Out</a>
                </div>
            </div>
        </div>
    </div>

</div>