<div class="container py-5" style="display: flex; justify-content: center; align-items: center;">
    <div class="card" style="width: 25rem;">
        <div class="card-header">
            Meeting
        </div>
        <div class="card-body">
            <form action="/join-room" method="POST">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Enter your Room Id</label>
                    <input required name="room_id" class="form-control" placeholder="Room Id">
                    <div class="form-text">You have to enter the room id to enter a specific room.
                    </div>
                </div>
                <button style="width: 100%;" type="submit" class="btn btn-primary mb-3">Join</button>
            </form>
            <form action="/create-room" method="POST">
                <button style="width: 100%;" type="submit" class="btn btn-success mb-3">Create room</button>
            </form>
            <a style="width: 100%;" type="submit" class="btn btn-danger">Log Out</a>
        </div>
    </div>
</div>