<div class="main-wrapper">
  <div id="video-grid"></div>
</div>
<footer>
  <div class="footer-wrapper">
    <div class="footer-elements-wrapper">
      <button id="share-toggle" class="footer-elements tooltip" tool_tip="Share Meeting link">
        <ion-icon name="paper-plane-outline"></ion-icon>
      </button>
      <button id="video-toggle" class="footer-elements tooltip" tool_tip="Video Off">
        <ion-icon name="videocam-outline"></ion-icon>
      </button>
      <button id="mic-toggle" class="footer-elements tooltip" tool_tip="Microphone Off">
        <ion-icon name="mic-outline"></ion-icon>
      </button>
      <button id="cams-toggle" class="footer-elements tooltip" tool_tip="Change the camera">
        <ion-icon name="sync-outline"></ion-icon>
      </button>
      <button id="share-screen" class="footer-elements tooltip" tool_tip="Present Screen">
        <ion-icon name="tv-outline"></ion-icon>
      </button>
      <button id="meeting-toggle" class="footer-elements call-button tooltip" tool_tip="Join the Meeting">
        <ion-icon name="call-outline"></ion-icon>
      </button>
    </div>
    <div class="options-wrapper">
      <button class="footer-elements">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </button>
    </div>
  </div>

</footer>
<script>
  const cameraBtn = document.querySelector('#cams-toggle')
  cam = {}
  function gotDevices(mediaDevices) {
    let count = true;
    mediaDevices.forEach((mediaDevice) => {
      if (mediaDevice.kind === "videoinput") {
        cam[mediaDevice.deviceId] = count;
        count = false;
      }
    });
    cameraBtn.setAttribute('camera', JSON.stringify(cam))
  }
  navigator.mediaDevices.enumerateDevices().then(gotDevices);
</script>
<!-- <div class="left-wrapper">
    <button class="footer-btn btn-group share-btn"><span>Meeting Details</span><i
        class="fas fa-angle-down"></i></button>
    <div class="share-wrapper">
      <div class="share-wrapper-header">
        <p class="group"><i class="fas fa-info-circle"></i><span>Details</span></p>
      </div>
      <div class="share-wrapper-body">
        <p><b>Joining Info</b></p>
        <p>https://digiclass.site/<%= roomId %>
        </p>
        <p id="copy" data="https://digiclass.site/<%= roomId %>" class="group"><i class="fas fa-copy"></i><span>Copy
            joining info</span></p>
      </div>
    </div>
  </div> -->